**/target/
**/cmake-build-debug/
**/.classpath
**/.launch
**/.project
**/.settings
**/ivy*
**/eclipse
**/prodDb.*
**/*Db.properties
**/*Db.script
**/stacktrace.log
**/test/reports
/logs/
**/web-app/plugins
**/web-app/WEB-INF/classes
**/out/
**/build/
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon
**/local.properties
**/.classpath
**/.settings/
**/.loadpath
**/.externalToolBuilders/
**/*.launch
**/.cproject
**/.buildpath
**/.project
**/.metadata
**/tmp/**
**/.Spotlight-V100
**/.Trashes


*.tmp
*.bak
*.swp
*~.nib
*.log
*.log.*
*.releaseBackup
*.launch
*.tmproj
*.war
*.zip
*.zip.sha1
*.iws
*.class
*.jar
*.war
*.ear
*.pydevproject
*.iml
*.ipr
*.iws
**/.idea/

